<!DOCTYPE html>
<html lang="en">

<head>
  <title>Registration Form!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Custom CSS -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

    * {
      font-family: Montserrat;
    }

    .card {
      margin: 0 auto;
      float: none;
      margin-bottom: 30px;
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="header" style="text-align: center; margin-top: 25px;">
      <h2>Please Fill This Form To Claim The Reward!</h2>
    </div>
    <div class="card">
      <article class="card-body">
        <form action="/claimed" method="POST" class="was-validated">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="name">Full Name:</label>
              <input type="text" class="form-control" id="name" placeholder="Please enter full name" name="name"
                required>
              <div class="valid-feedback">Good To Go...</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group col-md-4">
              <label for="mobile">Mobile Number:</label>
              <input type="text" class="form-control" id="mobile" placeholder="Please enter mobile number" name="mobile"
                required>
              <div class="valid-feedback">Good To Go...</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group col-md-4">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Please Enter email (Optional)"
                name="email">
              <div class="valid-feedback">Good To Go...</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group col-md-4">
              <label for="gender">Gender:</label>
              <select name="gender" id="gender" class="form-control" required>
                <option value="">Select Gender</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Others</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="address1">Address 1:</label>
              <input type="text" class="form-control" id="address1" placeholder="Please Enter address line 1"
                name="address1" required>
              <div class="valid-feedback">Good To Go...</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group col-md-4">
              <label for="address2">Address 2:</label>
              <input type="text" class="form-control" id="address2" placeholder="Please Enter address line 2"
                name="address2">
              <div class="valid-feedback">Good To Go...</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group col-md-4">
              <label for="city">City/Village:</label>
              <input type="text" class="form-control" id="city" placeholder="Please Enter city" name="city" required>
              <div class="valid-feedback">Good To Go...</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group col-md-4">
              <label for="district">District:</label>
              <input type="text" class="form-control" id="district" placeholder="Please Enter district" name="district"
                required>
              <div class="valid-feedback">Good To Go...</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group col-md-4">
              <label for="pincode">Pincode:</label>
              <input type="text" class="form-control" id="pincode" placeholder="Please Enter pincode" name="pincode"
                required>
              <div class="valid-feedback">Good To Go...</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group col-md-4">
              <label for="state">State:</label>
              <select name="state" id="state" class="form-control" required>
                <option value="">Select State</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                <option value="Daman and Diu">Daman and Diu</option>
                <option value="Delhi">Delhi</option>
                <option value="Lakshadweep">Lakshadweep</option>
                <option value="Puducherry">Puducherry</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisha">Odisha</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="West Bengal">West Bengal</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="pan_card">Pan Card:</label>
              <input type="text" class="form-control" id="pan_card" placeholder="Please Enter pan card" name="pan_card"
                required>
              <div class="valid-feedback">Good To Go...</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group col-md-4">
              <label for="firm_name">Firm Name:</label>
              <input type="text" class="form-control" id="firm_name" placeholder="Please Enter firm name"
                name="firm_name" required>
              <div class="valid-feedback">Good To Go...</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group col-md-4">
              <label for="ac_holder_name">Account Holder Name:</label>
              <input type="text" class="form-control" id="ac_holder_name" placeholder="Please Enter account holder name"
                name="ac_holder_name" required>
              <div class="valid-feedback">Good To Go...</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group col-md-4">
              <label for="account_no">Account Number:</label>
              <input type="text" class="form-control" id="account_no" placeholder="Please Enter account number"
                name="account_no" required>
              <div class="valid-feedback">Good To Go...</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group col-md-4">
              <label for="ifsc_code">IFSC Code:</label>
              <input type="text" class="form-control" id="ifsc_code" placeholder="Please Enter IFSC code"
                name="ifsc_code" required>
              <div class="valid-feedback">Good To Go...</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group col-md-4">
              <label for="account_type">Account Type:</label>
              <select name="account_type" id="account_type" class="form-control" required>
                <option value="">Select Account Type</option>
                <option value="S">Saving</option>
                <option value="C">Current</option>
                <option value="O">Other</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="bank_name">Bank Name:</label>
              <input type="text" class="form-control" id="bank_name" placeholder="Please Enter Bank Name"
                name="bank_name" required>
              <div class="valid-feedback">Good To Go...</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group col-md-4">
              <label for="branch_name">Branch Name:</label>
              <input type="text" class="form-control" id="branch_name" placeholder="Please Enter Branch Name"
                name="branch_name" required>
              <div class="valid-feedback">Good To Go...</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember" required>I Agreed
                <div class="valid-feedback">Good To Go...</div>
                <div class="invalid-feedback">Check this checkbox to continue.</div>
              </label>
            </div>
            <div>
              <input type="hidden" id="token" name="token" value='<%=amount%>'>
            </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
          </div>
        </form>
      </article>
    </div>
  </div>

</body>

</html>