<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .card {
            margin: 0 auto;
            float: none;
            margin-bottom: 10px;
            margin-top: 180px;
        }
    </style>
    <title>Registration Successful</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="card">
                <article class="card-body">
                    <div class="col-md-12" style="text-align: center;">
                        <h1>Congratulations!</h1>
                        <h5>You have won the amount of Rs. <%=amount%></h5>
                        <p>Now you can claim it on your next purchase using this code: <%= coupon %> </p>
                        <p>Discount code has been sent to your registered email address!</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</body>

</html>